body{
    background-color: black;
    color: white;
    margin: 60px;
}

h2{
    color: #5c35ab;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:visited{
    color: #ffffff;
    
}


.navbar{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    font-size: 20px;
}


.nav-item-right{
    margin-left: 50px;
}

.nav-button{
    background-color: black;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 6px;
    margin: 20px;
    padding: 8px 18px;

}

#contact-button{
    background-color: #ffffff;
    color: black;
}

.nav-button:hover{
    background-color: rgba(164, 160, 160, 0.374) !important;
}

